{%extends "encabezado.html"%}
{%load static%}

{%block contenidoPortada%}
<head>
  <style>
      body{
          font-family: 'Lucida Sans Unicode';
          background-image: url('static/fondo7.jpg');
          display: flex;
          justify-content: center;
          align-items: center;
      }
  </style>
</head>
<body>
  <div class="position-relative overflow-hidden p-md-5 text-center">
    <div class="col-md-5 p-lg-5 mx-auto ">
      <img src="/static/LUCIANO.png" class="img-fluid rounded-circle overflow-hidden p-3 p-md-3 m-md-1 bg-dark">
      <h1 class="display-1 fw-small"><font style="vertical-align: inherit;"class="text-dark ">¡Hola! </h1>
      <h1 class="display-1 fw-small">Soy <font style="vertical-align: inherit; color: firebrick;">Luciano.</h1>
      <h5 class="text-dark">Desarrollador Web - Web Development</h5>
      <br>
      <button type="button" onclick="location.href='/contacto'"class="btn btn-dark">Contacto</button>
    </div>
  </div>
</body>

{%endblock%}