{%extends "encabezado.html"%}
{%load static%}

{%block contenidoproyecto%}

<style>
    body{
        font-family: 'Lucida Sans Unicode';
        background-image: url('static/fondo7.jpg');
        
    }
    </style>
<body>
    <div class="position-relative p-md-5 ">
        <div class="bg-dark col-md-10 border border-secondary border border-5 rounded-4 p-lg-5 mx-auto text-light">
            <div class="row g-0 bg-transparent position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                  <img src="static/fondo7.jpg" class="w-100" alt="...">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h5 class="mt-0">Proyecto final - Curso Python</h5>
                  <p>Agregar info</p>
                  <a href="#" class="stretched-link">Ver</a>
                </div>
                <div class="row g-0 bg-transparent position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="static/fondo7.jpg" class="w-100" alt="...">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">Blog de información sobre Videojuegos.</h5>
                    <p> Introducción </p>
                    <a href="#" class="stretched-link">Ver</a>
                    </div>
                </div>
                <div class="row g-0 bg-transparent position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="static/fondo7.jpg" class="w-100" alt="...">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                    <h5 class="mt-0">.</h5>
                    <p> Introducción </p>
                    <a href="#" class="stretched-link">Ver</a>
                    </div>
                </div>
              </div>
        </div>
    
    </div>
    
</body>
</html>
{%endblock%}